@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
$(document).ready(function() {
    $.ajax({
        url:'/Personel/Index',
        contentType:'application/json; charset=utf-8',
        type: 'Get',
        dataType:'json',
        success: function(data) {
            console.log(data)
        }
    })
})
    </script>
}